/* * {
  border: 1px solid coral;
}
* { */



#fade path {
  -webkit-transition: fill 1s ease;
  -moz-transition: fill 1s ease;
  -o-transition: fill 1s ease;
  transition: fill 1s ease;
}

body {
  background-color: rgb(247, 210, 88);
  margin: 0px;
}

path {
  transition: d 1.8s;
  will-change: d;
}




/* //original width and height 500 x 600 */

.big-box {
  display:block

}

.tiny-ears-box {
  position: absolute;
  left: 14%;
  width: 40%;
  top: 50%;
  transition: 1.8s;
  cursor: pointer;
}

.little-ears-box {
  position: absolute;
  left: 14%;
  width: 40%;
  top: 50%;
  transition: 1.8s;
  cursor: pointer;
}

.big-ears-box {
  position: absolute;
  left: 14%;
  width: 40%;
  top: 50%;
  transition: 1.8s;
  cursor: pointer;
}

.tiny-ears-box svg path {
  d: path(
    "M9.79101563,24.5585938 C-6.09765625,31.4433594 10.7314571,51.7070744 3.67091027,57.7601351 C-3.38963661,63.8131957 2.78917337,78.9781577 13.6289063,89.0175781 C23.3290897,98.0015837 39.1894296,102.635135 57.1542969,95.5452913 C75.1191642,88.4554476 71.5734395,105.293338 92.4765625,92.890625 C113.379686,80.4879118 97.1445312,69.7027555 108.970703,62.5507812 C116.869285,57.774049 127.913973,77.175948 140.294922,67.5195313 C152.675871,57.8631145 153.799874,22.3040655 144.073839,10.8575124 C139.708315,5.71973378 134.435021,2.00593157 129.397473,1.12927572 C121.458678,-0.252267581 110.365127,2.69158272 104.527344,10.8575124 C101.121459,15.6216863 104.527344,29.1289062 82.5097656,32.2148438 C68.452621,34.1850636 71.1425781,10.8575124 51.8652344,16.8007812 C33.0581138,22.5990788 52.97546,46.841002 30.6386719,41.078125 C12.5760057,36.4179688 25.6796875,17.6738281 9.79101563,24.5585938 Z"
  );
}

.little-ears-box svg path {
  d: path(
    "M21.0253906,35.0851343 C13.4876413,38.1171411 17.4941406,54.2910156 7.64648438,57.3984375 C-9.05272626,62.6678631 9.47532626,85.5169082 21.0253906,95.1835938 C40.3066406,111.320801 59.5585466,83.8710938 77.5234139,76.78125 C81.0360389,75.3949908 87.7926127,79.2022119 95.6796875,76.78125 C102.952983,74.5486894 111.164343,66.0571744 119.212891,65.3085938 C134.195202,63.9151166 139.468661,74.9650105 151.849609,65.3085938 C164.230558,55.652177 157.775448,21.9423679 148.049414,10.4958148 C143.683889,5.35803619 138.410595,1.64423397 133.373047,0.767578125 C125.434252,-0.613965173 118.993987,9.35285367 113.156204,17.5187833 C109.75032,22.2829573 94.9041509,15.6240414 85.0429688,20.4257813 C77.1859262,24.2516384 74.4942708,39.9180514 68.7753906,41.3515625 C52.4528448,45.4430193 69.2625693,34.3742051 46.9257812,28.6113281 C28.8631151,23.9511719 28.8631151,31.9324646 21.0253906,35.0851343 Z"
  );

  fill: "teal";
}

.big-ears-box svg path {
  d: path(
    "M9.79101563,24.5585938 C0.152351869,31.3222656 10.7314571,51.7070744 3.67091027,57.7601351 C-3.38963661,63.8131957 2.78917337,78.9781577 13.6289063,89.0175781 C23.3290897,98.0015837 39.1894296,102.635135 57.1542969,95.5452913 C75.1191642,88.4554476 76.8859395,107.948005 97.7890625,95.5452913 C118.692186,83.1425781 124.007812,102.697266 135.833984,95.5452913 C143.732567,90.7685591 127.913973,77.175948 140.294922,67.5195313 C152.675871,57.8631145 153.799874,22.3040655 144.073839,10.8575124 C139.708315,5.71973378 134.435021,2.00593157 129.397473,1.12927572 C121.458678,-0.252267581 110.365127,2.69158272 104.527344,10.8575124 C101.121459,15.6216863 88.3494634,6.05577257 78.4882813,10.8575124 C70.6312387,14.6833695 66.9571614,23.1250826 61.2382813,24.5585938 C44.9157354,28.6500506 58.3328818,16.6203893 35.9960938,10.8575124 C17.9334276,6.19735612 19.4296794,17.7949219 9.79101563,24.5585938 Z"
  );
}

.tiny-music-box {
  left: 44%;
  top: 66%;
  width: 27%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.little-music-box {
  left: 44%;
  top: 66%;
  width: 27%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.big-music-box {
  left: 40%;
  top: 60%;
  width: 37%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.tiny-music-box svg path {
  d: path(
    "M55.7570069,10.8707085 C28.0183497,8.93103262 8.25821111,43.7908243 2.41548553,67.8863355 C-4.01569504,94.4086462 12.1233835,119.154569 23.2641088,125.036015 C46.9012046,137.514582 49.9634268,162.668986 114.038309,156.541052 C169.476784,151.239079 168.393015,167.633671 202.088328,133.286015 C214.267892,120.870653 238.432362,81.2848902 215.95542,56.7393498 C193.478478,32.1938094 193.609534,15.2788026 143.008505,4.48839332 C92.4074755,-6.30201595 114.028043,14.9454163 55.7570069,10.8707085 Z"
  );
}

.little-music-box svg path {
  d: path(
    "M56.1513038,3.13606988 C28.4126466,5.07574575 8.65250807,29.784046 2.80978249,53.8795571 C-3.62139808,80.4018679 9.66876829,111.029236 23.6584057,111.029236 C50.3576245,111.029236 75.9436123,169.351796 115.091154,134.012578 C160.74101,92.8035997 168.787312,153.626893 202.482624,119.279236 C214.662189,106.863875 238.826659,67.2781119 216.349717,42.7325715 C193.872775,18.1870311 181.427147,54.7946287 130.826118,44.0042194 C80.2250882,33.2138102 114.42234,0.938637925 56.1513038,3.13606988 Z"
  );
}

.big-music-box svg path {
  d: path(
    "M55.7570069,10.8707085 C28.0183497,8.93103262 8.25821111,43.7908243 2.41548553,67.8863355 C-4.01569504,94.4086462 12.1233835,119.154569 23.2641088,125.036015 C46.9012046,137.514582 49.9634268,162.668986 114.038309,156.541052 C169.476784,151.239079 168.393015,167.633671 202.088328,133.286015 C214.267892,120.870653 238.432362,81.2848902 215.95542,56.7393498 C193.478478,32.1938094 193.609534,15.2788026 143.008505,4.48839332 C92.4074755,-6.30201595 114.028043,14.9454163 55.7570069,10.8707085 Z"
  );
}

.tiny-councils-box {
  left: 4%;
  top: 40%;
  width: 43%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
  z-index: 2;
}
.little-councils-box {
  left: 4%;
  top: 40%;
  width: 43%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
  z-index: 2;
}

.big-councils-box {
  left: 4%;
  top: 40%;
  width: 43%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
  z-index: 2;
}

.tiny-councils-box svg path {
  d: path(
    "M9.36658573,10.2827832 C2.13807011,19.5475676 -5.13732052,38.4238281 9.36658573,43.8769531 C27.3206026,50.6272379 57.1184259,33.0734082 53.7558594,43.8769531 C49.9667969,56.0507812 118.615234,55.2738217 123.345703,43.8769531 C128.076172,32.4800845 76.0391597,32.4800845 94.4824219,22.2597656 C116.095703,10.2827832 98.1699219,2.91168946 83.6289062,2.91168946 C69.0878906,2.91168946 75.2332139,16.8027344 58.4394531,16.8027344 C47.8480166,16.8027344 37.1185389,-5.35198242 28.3743982,2.91168946 C26.1254837,5.03703172 12.3855419,6.41338878 9.36658573,10.2827832 Z"
  );
}

.little-councils-box svg path {
  d: path(
    "M15.9511719,16.6757812 C-3.44726563,31.921875 -5.359375,52.8496094 15.9511719,52.8496094 C40.945345,52.8496094 48.6820342,35.0651167 60.3710937,44.3203125 C89.0165403,67.001283 137.539062,23.4454764 134.226562,9.3046875 C130.914062,-4.83610136 108.26176,2.53499239 101.556641,9.3046875 C98.3293992,12.5630099 95.8231922,5.04916142 91.3535156,4.44726563 C85.7117296,3.68753117 78.0565439,9.55287275 74.3066406,13.0703125 C69.9160356,17.1887357 52.3945313,-12.7050781 34.9589844,9.3046875 C33.2185897,11.501675 20.5774247,13.0398037 15.9511719,16.6757812 Z"
  );
}

.big-councils-box svg path {
  d: path(
    "M9.36658573,13.2827832 C2.13807011,22.5475676 -5.13732052,41.4238281 9.36658573,46.8769531 C27.3206026,53.6272379 23.7847312,40.825075 32.4609375,51.0820312 C35.4257813,54.5870508 108.947266,59.3902051 120.503906,51.0820312 C132.060547,42.7738574 129.292341,18.4020256 120.503906,5.91168946 C115.111328,-1.75237304 85.3446766,2.68588017 80.875,2.08398438 C75.2332139,1.32424992 62.3743015,2.39424971 58.6243982,5.91168946 C54.2337932,10.0301127 37.1185389,-2.35198242 28.3743982,5.91168946 C26.1254837,8.03703172 12.3855419,9.41338878 9.36658573,13.2827832 Z"
  );
}

.tiny-about-box {
  left: 6%;
  top: 22%;
  width: 35%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}
.little-about-box {
  left: 6%;
  top: 22%;
  width: 35%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.big-about-box {
  left: 6%;
  top: 22%;
  width: 35%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.tiny-about-box svg path {
  d: path(
    "M6.78300554,64.5659707 C-6.52150662,49.4847944 5.52343509,27.3263581 18.8279472,11.0510247 C28.0572843,-0.239170494 62.8051549,-7.73457528 78.1522784,18.8400338 C83.2151726,27.6067863 99.1985991,-0.45100768 119.639081,5.38270028 C148.69324,13.6747495 105.431797,25.3432325 127.821499,37.5030799 C150.211202,49.6629274 121.900995,66.4748932 110.767011,64.5659707 C103.344356,63.2933557 95.4269417,61.1774393 87.0147694,58.2182216 C76.6996137,58.4730454 70.1796784,62.2016119 67.4549633,69.4039209 C63.3678907,80.2073846 45.9230795,71.4409415 38.4590471,58.2182216 C33.4830254,49.403075 27.9690124,51.5189914 21.9170078,64.5659707 C20.6973477,74.6200883 15.6526803,74.6200883 6.78300554,64.5659707 Z"
  );
}

.little-about-box svg path {
  d: path(
    "M9.41015625,65.0761719 C-4.80200581,59.3662034 1.0859375,49.8945312 11.9375,37.8359375 C19.4652265,29.4708937 44.4570312,3.578125 76.2695312,10.0273438 C89.1293122,12.6343549 101.51664,-0.512848671 109.521484,0.638671875 C135.655466,4.39812242 137.480469,27.0273438 133.832031,41.9257812 C130.183594,56.8242187 115.618323,61.3967659 106.537109,59.9824219 C100.482967,59.0395259 91.7922118,55.6768956 80.4648438,49.8945312 C79.625,56.0664062 78.2265625,61.1269531 76.2695312,65.0761719 C73.3339844,71 56.4277344,78.8691406 49.4628906,65.0761719 C44.8196615,55.8808594 40.1178385,53.1074219 35.3574219,56.7558594 C27.5340195,66.1093801 18.884931,68.8828176 9.41015625,65.0761719 Z"
  );
}

.big-about-box svg path {
  d: path(
    "M9.33007812,54.9824219 C-1.52148438,43.8085938 -1.52148438,25.8769531 9.33007812,13.8183594 C16.8578046,5.4533156 38.4570312,-1.421875 70.2695313,5.02734375 C83.1293122,7.63435485 95.3193743,0.262541954 103.324219,1.4140625 C129.4582,5.17351305 131.480469,22.0273438 127.832031,36.9257813 C124.183594,51.8242188 109.618323,56.3967659 100.537109,54.9824219 C94.482967,54.0395259 86.8846597,54.0395259 77.7421875,54.9824219 C71.6497396,54.4290365 67.625,56.1269531 65.6679688,60.0761719 C62.7324219,66 48.8828125,64.3359375 43.015625,60.0761719 C39.1041667,57.2363281 33.6523437,58.2096354 26.6601562,62.9960937 C22.3411458,65.1028646 16.5644531,62.4316406 9.33007812,54.9824219 Z"
  );
}

/* .littlebox:hover svg path {
    d: path(
      "M144.050971,75.0806425 C202.800378,93.4396974 232.496706,-34.8069218 297.043479,10.9186778 C361.590251,56.6442773 365.118556,147.090741 302.390437,192.474845 C239.662317,237.858948 81.9792071,237.709844 18.1249716,192.474845 C-45.729264,147.239846 85.301564,56.7215876 144.050971,75.0806425 Z"
    );
  }
  
  .littlebox:hover {
    width: 500px;
    transition: 1s;
  } */


  .smallBlob {
    position:absolute;
    
    width: 126px;
    height: 180px;
    background-color: red;
  
  
  }